<!-- details offre section  -->
<section class="offer-details-section">
    <div class="container">
        <!-- 1️⃣ En-tête de l'offre -->
        <div class="row mb-5">
            <div class="col-md-6">
                <img src="../../..<%= offreDetails.offre_URL %>" alt="Panier anti-gaspillage" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2><%= offreDetails.nom_offre %></h2>
                <p class="lead"><%= offreDetails.prix_apres %>€ au lieu de <%= offreDetails.prix_avant %> €</p>
                <p><i class="fas fa-clock"></i> Expirer le <strong><%= offreDetails.date_expiration %></strong></p>
                <p><span class="badge bg-success">Encore <%= offreDetails.disponibilite_actuelle %>  paniers disponibles</span></p>
                <div class="row mb-5">
                    <div class="col-md-12">

                        <div class="d-flex align-items-center mb-3">
                            <form action="/add-to-panier" method="get">
                                <button class="btn btn-success btn-lg me-3" type="submit">Ajouter au panier</button>
                                <input type="hidden" name="id_offre" value="<%= offreDetails.id_offre %>">
                                <select class="form-select me-3" style="width: auto;" name="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </form>
                            <div>
                                <i class="fab fa-cc-visa fa-2x me-2"></i>
                                <i class="fab fa-cc-mastercard fa-2x me-2"></i>
                                <i class="fab fa-cc-paypal fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- 2️⃣ Description détaillée -->
        <div class="row mb-5">
            <div class="col-md-12">
                <h3>Description détaillée</h3>
                <p> <%= offreDetails.description %> </p>
                <p><strong>Type :</strong> <%= offreDetails.type %> </p>
                <p><strong>Conditions spécifiques :</strong> <%= offreDetails.condition %> </p>
            </div>
        </div>

        <!-- 3️⃣ Informations sur le commerçant -->
        <div class="row mb-5">
            <div class="col-md-12">
                <h3>Informations sur le commerçant</h3>
                <p><strong>Nom du commerce :</strong> <%= offreDetails.nom_commerce %> </p>
                <p><strong>Adresse :</strong> <%= offreDetails.adresse_commerce %> </p>
                <p><strong>Horaires d'ouverture :</strong> <%= offreDetails.ouverture %> - <%= offreDetails.fermeture %></p>
            </div>
        </div>

    </div>
</section>