<!-- Panier latéral -->
<div id="cart-overlay"></div>
<div id="cart-sidebar">
    <h5>Mon panier</h5>
    <ul id="cart-items">
        <% panier.forEach((offre) =>{ %>
            <li><%= offre.nom_offre%> x<%= offre.quantite %> - <%= offre.prix_apres %> € <a href="/delete-offre-panier/<%= offre.id_commande_offre %>"><i class="bi bi-trash3-fill me-2"></i></a> </li>
        <% }); %>
    </ul>
    <a class="btn btn-primary w-100" href="/payment/<%= id_commande %>" style="background-color: #28a745;" >Passer la commande</a>
</div>