<%- include('partials/header-commercant') %>
<div class="container py-5">
    <%- include('partials/list-commandes-non-valider'); %>
    <%- include('partials/list-commandes-valider'); %>
</div>
<%- include('partials/validation-commande-modal') %>
<%- include('../partials/footer') %>