<%- include('partials/header-commercant') %>
<div class="container py-5">
    <%- include('partials/formulaire-recherche-offres') %>
    <%- include('partials/list-offres') %>
    <%- include('partials/pagination-offres') %>
</div>
<%- include('partials/ajouter-offre-modal') %>
<%- include('partials/modifier-offre-modal')%>
<%- include('partials/confirmation-suppression-modal')%>
<%- include('../partials/footer') %>